.content-container {
    display: flex;

    border: dashed 2px black;
    height: auto;

    img {
        width: 100px;
        height: 100px;
    }

    .product-list {
        display: flex;
        grid-template-rows: repeat(3, 1fr);

        .product-box {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
        }
    }
}